CSV_PATH=data/dummy_data.csv

DB_PATH=data/etl.db

READ_FROM_AZURE_SQL=false

UPLOAD_TO_AZURE=false

SEND_EMAIL=false

AZURE_SQL_SERVER=

AZURE_SQL_DATABASE=

AZURE_SQL_USERNAME=

AZURE_SQL_PASSWORD=

AZURE_STORAGE_CONNECTION_STRING=

SMTP_USER=

SMTP_PASS=